button, .button {
    display: block;
    text-decoration: none;
    border: 0;
    background: $oxford-blue40;
    color: #fff;
    padding: 10px;
    transition: background 0.2s;
    font-size: 14px;
    
    &:hover {
        background: $oxford-orange;
        color: #fff;
    }

    &.big {
        padding: 15px 30px;
        font-size: 20px;
    }
}