header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $oxford-grey;
    z-index: 1000;
}

.nav {
    background: #fff;
    z-index: 1;
}

.logo {
    & img {
        width: 100%;
        height: auto;
    }
}

.items {
    display: none;
    font-size: 14px;
    cursor: pointer;

    .fas {
        font-size: 10px;

        @media (min-width: 1200px) {
            font-size: 12px;
        }
    }

    & > div {
        transition: color 0.2s;
        position: relative;
        &:hover {
            color: $oxford-orange;
        }
        .selected {
            color: $oxford-orange;
        }
    }

    @media (min-width: 992px) {
        display: flex;
     }

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

.more-buttons {
    button {
        font-size: 15px;
        line-height: 15px;
        width: 40px;
        height: 40px;

        &.mob-menu {
            color: $oxford-blue;
        }

        @media (min-width: 768px) {
            font-size: 20px;
            line-height: 20px;
            width: 55px;
            height: 55px;
        }

        @media (min-width: 992px) {
            font-size: 15px;
            line-height: 15px;
            width: 40px;
            height: 40px;
        }

        @media (min-width: 1200px) {
            font-size: 20px;
            line-height: 20px;
            width: 50px;
            height: 50px;
        }
    }

    @media (min-width: 992px) {
        .mob-menu {
            display: none;
            pointer-events: none;
        }
    }
}

.header-menu {
    display: inline-flex;
    width: auto;
    background: #fff;
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: -500px;
    z-index: -1;
    transition: transform .3s ease-in-out;
    opacity: 0;
    border-radius: 5px;

    &.showMenu {
        transform: translate3d(0px, 500px, 0px);
        opacity: 1;
    }

    &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: calc(50% - 5px);
        height: 0px;
        width: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }

    ul {
        padding: 20px 30px;
        margin: 0;
        list-style: none;
        position: relative;

        &:after {
            content: "";
            background: #111;
            position: absolute;
            bottom: 25%;
            left: 0;
            height: 50%;
            width: 2px;
        }

        &:first-of-type:after {
            width: 0px;
        }

        li {
            margin-bottom: 10px;
            transition: color 0.2s;
            cursor: pointer;
            &:hover {
                color: $oxford-orange;
            }
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}