.home {
    background: #000;
    padding-top: 150px;

    @media (min-width: 576px) {
        padding-top: 190px;
    }

    @media (min-width: 992px) {
        height: 100% !important;
        
    }
}

.hero {
    background: url('../../images/heroimage.jpg') no-repeat #000;
    background-position: center top;
    background-size: 100% auto;
    height: 150px;
    border-bottom: 10px solid #fff;

    @media (min-width: 992px) {
        height: 350px;
    }
}