.whatGoingOn {
    background: #333;
    padding-top: 190px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 10px solid #fff;
    padding-bottom: 50px;

    h3 {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 10px;
    }
}